@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.table-row-hover {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.table-row-hover:hover {
  background-color: var(--bg-panel);
}

:root {
  --bg-panel: #f3f3f3;
  --color-panel-solid: #f1f1f1;
}

.dark,
.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --bg-panel: #000217;
  --color-panel-solid: #000217;
}
